<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sal Stuff</title>
  <meta name="description" content="Stuff in regards to Sal and his data science interests">
  <meta name="author" content="Sal">

  <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js">
  </script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js">
  </script>
  <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
  </script>
  <link rel="stylesheet" type="text/css"
      href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Sal Stuff</a>
      </div>

      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">

          <li><a href='/about'>About</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/artistrecommender">Artist Recommender</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="https://www.linkedin.com/in/salkhan09" target="_blank" align="center">
                  <i class="fa fa-linkedin-square fa-3x"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/salmank09" target="_blank" align="center">
                  <i class="fa fa-github-square fa-3x"></i>
                </a>
              </li>
              <li>
                <a href='mailto:sallyk09@gmail.com' target="_blank" align="center">
                  <i class="fa fa-envelope fa-3x"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="container-fluid">
        <p align="right">
          <!--<img src="../static/me.JPG" class="img-responsive">-->
          <img class="img-responsive" src="static/img/profile.jpg" alt="" height="375.1" width="250.25">
            <!--1365 × 2048-->
        </p>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="container-fluid">
        <p>
          I’m a data scientist with a background in technology and management consulting. I have
          experience leading high visibility technical projects from conception to completion; with
          hundreds of daily users accessing data products that were built by my team and I. I have a
          strong grasp of SQL and Python, and am well versed in data visualiztion tools such as QlikView,
          Tableau, and SSRS.
        </p>

        <p>
          I also have a firm working knowledge of statistics, probability, and machine learning algorithms which
          I typically implement using Python. Projects I have worked on include predicting churn for a ride-sharing
          company, detecting fraudulent activity for an insurance company, and building an artist recommender system
          leveraging Apache Spark, Elastic Map Reduce, and MongoDB.
        </p>

        <p>
          Ultimately I like to take problems and make actionable sense out of them by data analysis, inference,
          and prediction using machine learning tools, researching hypotheses, and data visualization tools. I’ve worked in a variety
          of industries ranging from consulting to healthcare to e-commerce and am quick to learn how a business operates. I look forward
          to continue working on interesting projects and welcome opportunities for collaboration within the data science space.
        </p>

        <p>
          You can view projects I have worked on via the Projects drop-down menu in the navigation bar. Please contact me via
          email, located in the Contact drop-down menu, with questions and considerations for collaboration.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
